#downloadLink {
  text-decoration: none;
}

#buttonDownload {
  background-color: #0a66c2;
}

#frontButton {
  color: white;
}

#backButton {
  color: white;
}

#fullStack {
  background-color: #ff7f50;
  color: white;
}

#frontEnd {
  background-color: #4169e1;
  color: white;
}

#backEnd {
  background-color: #2e8b57;
  color: white;
}

.MuiSvgIcon-root {
  margin: 2% 8% 2% 8%;
}

#linkedin {
  color: #0a66c2;
  font-size: xxx-large;
  cursor: pointer;
}

#whatsapp {
  color: #075e54;
  font-size: xxx-large;
  cursor: pointer;
}

#mail {
  color: #bb001b;
  font-size: xxx-large;
  cursor: pointer;
}

#phone {
  color: #4285f4;
  font-size: xxx-large;
  cursor: pointer;
}

.skillList {
  text-align: left;
}

#projectLink {
  margin: 0% 0% 0% 0%;
  cursor: pointer;
  color: rgba(0, 0, 0, 0.54);
}

#intro{
  color: #4169e1;
}

#skill{
  color: #ff7f50;
}

#project{
  color: #2e8b57;
}

#resume{
  color:  #ff7f50;
}