#root>div{
  background-color: #141414 ;
}

.info {
  color: #075E40;
}

.MuiButton-outlinedPrimary{
  color: #075E40;
}

#downloadLink {
  text-decoration: none;
}

#buttonDownload {
  background-color:  #075E40;
}

#frontButton {
  color: #141414;
}

#backButton {
  color: #141414;
}

#fullStack {
  background-color: #ff7f50;
  color: #141414;
}

#frontEnd {
  background-color: #4169e1;
  color: #141414;
}

#backEnd {
  background-color: #2e8b57;
  color: #141414;
}

.MuiSvgIcon-root {
  margin: 2% 8% 2% 8%;
}

#linkedin {
  color: #0a66c2;
  font-size: xxx-large;
  cursor: pointer;
}

#whatsapp {
  color: #075e54;
  font-size: xxx-large;
  cursor: pointer;
}

#mail {
  color: #bb001b;
  font-size: xxx-large;
  cursor: pointer;
}

#phone {
  color: #4285f4;
  font-size: xxx-large;
  cursor: pointer;
}

#projectLink {
  margin: 0% 0% 0% 0%;
  cursor: pointer;
  color:  #075E40;
}

#footer{
  background-color: #141414 ;
}

